
%footer.footer.container
  =link_to root_path, :class => "footer--logo m-no-underline" do
    .icon--logo

  .footer--navigation
    = link_to photography_path, :class => "footer--link m-no-underline" do
      .footer--link-icon.icon--photography
      %small Photography

    = link_to table_path, :class => "footer--link m-no-underline" do
      .footer--link-icon.icon--table
      %small Table

    = link_to illustration_path, :class => "footer--link m-no-underline" do
      .footer--link-icon.icon--illustration
      %small Illustration

    = link_to osx_path, :class => "footer--link m-no-underline" do
      .footer--link-icon.icon--osx
      %small OS X

    = link_to graphic_design_path, :class => "footer--link m-no-underline" do
      .footer--link-icon.icon--graphic-design
      %small Graphic Design

  .footer--social
    .button.m-white.social--option(data-menu-toggle="follow")
      .button--content.m-icon.icon--connect
      .button--content Follow
      
    .button.m-white.social--option(data-menu-toggle="contact")
      .button--content.m-icon.icon--contact
      .button--content Contact

  %small.copyright
    &copy;
    = Time.now.year 
    David Scott McCarthy
    .copyright--rights All Rights Reserved
