
%footer.footer.container
  .footer--logo.icon--logo
  .footer--navigation
    %label Work
    = link_to "Photography", photography_path, :class => "footer--link"
    = link_to "Table.co", table_path, :class => "footer--link"
    = link_to "Illustration", illustration_path, :class => "footer--link"
    = link_to "OS X 'Everest'", osx_path, :class => "footer--link"
    = link_to "Graphic Design", graphic_design_path, :class => "footer--link"

  .footer--social
    .button.m-white.social--option(data-menu-toggle="follow")
      .social--option-content.m-icon.icon--connect
      .social--option-content Follow
      
    .button.m-white.social--option(data-menu-toggle="contact")
      .social--option-content.m-icon.icon--contact
      .social--option-content Contact