- content_for :page_style do "index" end

- content_for :scripts do
  = javascript_include_tag "pages/index"

- content_for :meta do

  -#
    Meta Structure
      :Hash => Define metadata content for the page
        :title => Page title
        :description => Page description
        :url => Page canonical URL
        :type => Page type (e.g. "photo", or "site")
        :card => Card type for Twitter (e.g. "photo" or "summary")
        :last_updated => The date a page was last last_updated
        :image => OG Image
          :type => MIME type for the image
          :url => URL to image
          :alt => Alt text for OG image for the page
          :width => Image width
          :height => Image height

%section.fringe
  %h1
    .name.m-red(js-fringe="red") Dave Scott McCarthy
    .name.m-blue(js-fringe="blue") Dave Scott McCarthy
    .name(js-fringe="base") Dave Scott McCarthy

  %h3.title Designer & Developer
  .social
    .social--option(js-pop--toggle="follow")
      .social--option-content.m-icon.icon--connect
      .social--option-content Follow
      
    .social--option(js-pop--toggle="contact")
      .social--option-content.m-icon.icon--contact
      .social--option-content Contact

= render "partials/index_photography"
= render "partials/index_table"
= render "partials/index_illustration"
= render "partials/index_osx"
= render "partials/index_graphic_design"
