- content_for :page_style do "index" end

- content_for :scripts do
  = javascript_include_tag "pages/index"

%section.fringe
  %h1
    .fringe--name.m-red(js-fringe="red") Dave Scott McCarthy
    .fringe--name.m-blue(js-fringe="blue") Dave Scott McCarthy
    .fringe--name(js-fringe="base") Dave Scott McCarthy

  .fringe--scroll.icon--arrow--down(js-scroll-down)
  
%section.biography.container
  = image_tag "https://d2vez5w0ugqe83.cloudfront.net/index/portrait-transparent.png", :class => "biography--photo"

  .biography--copy
    %h1.biography--title Hi, I'm Dave!
    %p I'm an interaction designer and front-end developer exploring the intersection between art and technology. I am always searching for the right way to speak with people in new and profound ways through the work I do.
    %p With a diverse artistic background and years of creating experiences for millions of people, I know the work I do can change lives around the world.

    .social
      .button.m-black.social--option(data-menu-toggle="follow")
        .button--content.m-icon.icon--connect
        .button--content Follow
        
      .button.m-black.social--option(data-menu-toggle="contact")
        .button--content.m-icon.icon--contact
        .button--content Contact

= render "partials/index_table"
= render "partials/index_photography"
= render "partials/index_illustration"
= render "partials/index_osx"
= render "partials/index_graphic_design"
