- content_for :page_style do "index" end

- content_for :scripts do
  = javascript_include_tag "pages/index"

%section.fringe
  %h1
    .fringe--name.m-red(js-fringe="red") Dave Scott McCarthy
    .fringe--name.m-blue(js-fringe="blue") Dave Scott McCarthy
    .fringe--name(js-fringe="base") Dave Scott McCarthy

  .fringe--scroll.icon--arrow--down(js-scroll-down)
  
%section.biography.container
  .biography--photo
    .biography--photo-ring

  .biography--copy
    %h1.biography--title Hi, I'm Dave!
    %p I'm a full-stack designer living in San Francisco. As long as I can remember, I've been drawing, playing instruments, taking pictures... I even started learning Photoshop before I entered high school. With an eclectic artistic background, interface design was instantly intuitive, just like the interfaces I strive to create.

    .social
      .button.m-black.social--option(data-menu-toggle="follow")
        .button--content.m-icon.icon--connect
        .button--content Follow
        
      .button.m-black.social--option(data-menu-toggle="contact")
        .button--content.m-icon.icon--contact
        .button--content Contact

= render "partials/index_table"
= render "partials/index_photography"
= render "partials/index_illustration"
= render "partials/index_osx"
= render "partials/index_graphic_design"
