- content_for :head do
  = stylesheet_link_tag "pages/photography", media: "all"

- content_for :scripts do
  = javascript_include_tag "pages/photography"

- content_for :modals do
  .modal--container(js-modal="about" js-modal-toggle="about")
    .modal--window
      .modal--content
        %h3 About This Page
        %p The layout of this page is procedurally generated, giving a different experience each time the page is loaded.
      .modal--close(js-modal-toggle="about") Close

.invisible(js-photo-info)
  - @photos.each do |key, value|
    %div
      %div(js-info="identifier")= key
      %div(js-info="url")= value["thumb_url"]
      %div(js-info="title")= value["title"]
      - if value["orientation"]
        %div(js-info="orientation")= value["orientation"]

.container.gallery-intro
  .gallery-intro--top
    = link_to root_path, :class => "button m-black m-back gallery-intro--back" do
      %span.icon--arrow--left
      %span Home

    .button.m-transparent.gallery-intro--about(js-modal-toggle="about") About this page

  %h1.gallery-intro--title Photography
  %p.gallery-intro--body Photography is a personal art that enables one to see things from a different perspective. One of the greatest things for one's psyche is being in the moment, just you and your camera. Dave uses photography not only as an exercise in the arts, but also as an escape; a way to connect with and understand himself better.

.photos
  .photos--layout#photos
