
- content_for :scripts do
  = javascript_include_tag "pages/photo_page"

- content_for :page_style do "photo_page" end

.page-intro
  .page-intro--bar.container
    = link_to (eval "#{@type}_path".gsub("-", "_")), :class => "button m-black page-intro--back" do
      %span.icon--arrow--left
      = @type.titleize

    %h1.page-intro--title= @photo["title"]  

.container.photo--container
  - image_class = "photo--image"
  - if @photo["transparent"]
    - image_class += " m-transparent"

  - if @photo["before"]
    = image_tag @photo["before"], :class => image_class, :"js-comparison" => "before"
    = image_tag @photo["url"], :class => image_class + " s-active", :"js-comparison" => "after"

  - else
    = image_tag @photo["url"], :class => image_class + " s-active"

- if @photo["before"]
  .container.toggle-comparison
    .button.m-black.toggle-comparison--toggle(js-toggle-comparison="before") Before
    .button.m-black.toggle-comparison--toggle.s-active(js-toggle-comparison="after") After

.container.photo--meta
  .photo--description
    %p.photo--description-body= @photo["description"].html_safe

  .social
    .button.m-black.social--option(data-menu-toggle="share")
      .button--content.m-icon.icon--share
      .button--content Share
