
- content_for :head do
  = stylesheet_link_tag "pages/photo_page", media: "all"

.container.photo--top
  = link_to photography_path, :class => "button m-black photo--back-navigation" do
    %span.icon--arrow--left
    Photography

-# :sass
  -# body
    -# background:
      -# color: #{@colors.to_hex.first}
      -# image: linear-gradient(45deg, #{@colors.to_hex.first}, #{@colors.to_hex.last})
      -# size: cover
      -# position: center
      -# repeat: no-repeat

.container.photo--container= image_tag @photo["url"], :class => "photo--image"

.container.photo--meta
  .photo--description
    %h3= @photo["title"]
    %p= @photo["description"]

  .social
    .social--option(js-pop--toggle="share")
      .icon--share.social--option-content.m-icon
      .social--option-content Share
