
- content_for :page_style do "photography" end
- content_for :scripts do
  = javascript_include_tag "pages/photography"

.invisible(js-photo-info)
  - @photos.each do |key, value|
    %div
      %div(js-info="identifier")= key
      %div(js-info="url")= value["thumb_url"]
      %div(js-info="title")= value["title"]
      - if value["orientation"]
        %div(js-info="orientation")= value["orientation"]

.page-intro
  .container.page-intro--bar
    = link_to root_path, :class => "button m-black m-back gallery-intro--back" do
      %span.icon--arrow--left
      %span Home

    %h1.page-intro--title Photography

.photos
  .photos--layout#photos
