
- content_for :head do
  = stylesheet_link_tag "pages/photo_page", media: "all"

.container.photo--top
  = link_to (eval "#{@type}_path"), :class => "button m-black photo--back-navigation" do
    %span.icon--arrow--left
    = @type.titleize

.container.photo--container
  - image_class =
    - if @photo["transparent"] then "photo--image m-transparent" else "photo--image"

  = image_tag @photo["url"], :class => image_class

.container.photo--meta
  .photo--description
    %h2= @photo["title"]
    %p= @photo["description"]

  .social
    .social--option(js-pop--toggle="share")
      .icon--share.social--option-content.m-icon
      .social--option-content Share
