!!!
%html(lang="en")
  %head
    - description = yield :description
    - canonical_url = yield :canonical_url

    = csrf_meta_tags

    %link(href="#{ canonical_url }" rel="canonical")

    =render "partials/meta"

    = yield :head

  %body
    %noscript
      .noscript.container
        This website
        %b will not
        work as intended without Javascript enabled. Here are  
        = link_to "instructions on how to enable Javascript in your web browser.", "http://www.enable-javascript.com/", :target => "_blank"

    .wrapper(js-blur="false")
      = yield
      = render "partials/footer"

    .pop(data-menu-wrapper)
      .pop--background(data-menu-background)
  

    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag "pages/#{ yield :page_style }", media: 'all'
    = render "partials/scripts"    
