!!!
%html
  %head
    - description = yield :description
    - canonical_url = yield :canonical_url

    = csrf_meta_tags

    %link(href="#{ canonical_url }" rel="canonical")

    =render "partials/meta"

    = stylesheet_link_tag 'application', media: 'all'

    = yield :head

    -# Inline page-specific styles
    - if Rails.env.production?
      - styles = Rails.application.assets_manifest.files.values.map{|v| v['logical_path']}.include?("#{ yield :page_style }.css").to_s
    - else
      - styles = Rails.application.assets.find_asset("pages/#{ yield :page_style }.sass").to_s

    - if styles
      :css
        #{styles}

  %body
    .wrapper(js-blur="false")
      = yield

    .modal
      .modal--background(js-modal--background)
      = yield :modals

    .pop(js-pop--wrapper)
      .pop--background(js-pop--background)

    =render "partials/scripts"    
