!!!
%html
  %head
    - description = yield :description
    - canonical_url = yield :canonical_url

    = csrf_meta_tags

    %link(href="#{ canonical_url }" rel="canonical")

    =render "partials/meta"

    = stylesheet_link_tag 'application', media: 'all'

    = yield :head

    = stylesheet_link_tag "pages/#{ yield :page_style }", media: 'all'

  %body
    .wrapper(js-blur="false")
      = yield

    .modal
      .modal--background(js-modal--background)
      = yield :modals

    .pop(js-pop--wrapper)
      .pop--background(js-pop--background)

    =render "partials/scripts"    
